<instruction>
make a plan for development of models and its interactions with postgres, and API CRUD for it. Use DJANGO, REST API, asyncio(only where it is necessary). Stage 1 — models and API POST, Stage 2 API READ, UPDATE, DELETE. Read to the end all attached files and propose plan.   
</instruction>


<instructions>Technical information and requirements</instructions>

С какой проблемой к нам обратился заказчик

На сайте https://pereval.online/ ФСТР ведёт базу горных перевалов, которая пополняется туристами.

После преодоления очередного перевала, турист заполняет отчёт в формате PDF и отправляет его на электронную почту федерации. Экспертная группа ФСТР получает эту информацию, верифицирует, а затем вносит её в базу, которая ведётся в Google-таблице.

Весь процесс очень неудобный и долгий и занимает в среднем от 3 до 6 месяцев.

Как заказчик хочет решить эту проблему

ФСТР заказала студентам SkillFactory разработать мобильное приложение для Android и IOS, которое упростило бы туристам задачу по отправке данных о перевале и сократило время обработки запроса до трёх дней.

Пользоваться мобильным приложением будут туристы. В горах они будут вносить данные о перевале в приложение и отправлять их в ФСТР, как только появится доступ в Интернет.

Модератор из федерации будет верифицировать и вносить в базу данных информацию, полученную от пользователей, а те в свою очередь смогут увидеть в мобильном приложении статус модерации и просматривать базу с объектами, внесёнными другими.

Этапы работы над созданием мобильного приложения

Мы уже прошли два этапа:

        Описание требований;
        Подготовка дизайна для мобильного приложения.

Нам осталось ещё три:

        Разработка REST API, которое будет обслуживать мобильное приложение;
        
<instruction>Разработка мобильного приложения; to be excluded (everything that connected to development of mobile app)</instruction>

        Тестирование REST API.

Давай я расскажу тебе про все этапы, чтобы у тебя было видение всей картины целиком.

Этап 1. Подготовка требований к мобильному приложению и Rest API

Серёжа встретился с заказчиком, расспросил его о том, как будут пользоваться мобильным приложением, а затем описал требования к приложению и Rest API.

Сергей выявил, что для пользователя в мобильном приложении будут доступны следующие действия:

        Внесение информации о новом объекте (перевале) в карточку объекта.
        Редактирование в приложении неотправленных на сервер ФСТР данных об объектах. На перевале не всегда работает Интернет.
        Заполнение ФИО и контактных данных (телефон и электронная почта) с последующим их автозаполнением при внесении данных о новых объектах.
        Отправка данных на сервер ФСТР.
        Получение уведомления о статусе отправки (успешно/неуспешно).
        Согласие пользователя с политикой обработки персональных данных в случае нажатия на кнопку «Отправить» при отправке данных на сервер.

Пользователь с помощью мобильного приложения будет передавать в ФСТР следующие данные о перевале:

        координаты перевала и его высота;
        имя пользователя;
        почта и телефон пользователя;
        название перевала;
        несколько фотографий перевала.

Также Серёжа описал CJM пользователя. CJM (customer journey map) — это карта, описывающая путь пользователя при взаимодействии с продуктом.

Чтобы лучше понимать, как будет работать мобильное приложение, ознакомьтесь с его CJM по ссылке.

А потом Серёжа нашёл работу Product Manager-а в MedTech-проекте, поэтому дальше мы продолжим путь без него.

Этап 2. Создание дизайна мобильного приложения (/command: this line shall be done by others)

Этап 3. Разработка мобильного приложения (/command: this line shall be done by others)

После того, как ты напишешь REST API, за работу возьмутся студенты курсов по мобильной разработке под Android и IOS. Мобильные приложения будут вызывать методы твоего REST API для передачи данных из мобильного приложения в ФСТР.

Этап 4. Тестирование

<instruction>Work process below</instruction>


Твоя работа будет разбита на три спринта по одной неделе. Программисты с опытом обычно могут сами декомпозировать большую задачу на подзадачи. Однако так как ты только начинаешь свой путь и пришёл ко мне стажироваться, я помогу тебе в этом.

Мы будем «есть слона по частям» и <instruction>
использовать Agile-подход.</instruction>


В течение первой stage ты создашь базу данных, разработаешь класс по работе с БД и один метод для REST API.

Во время второго спринта тебе предстоит:

        разработать еще три метода для Rest API;
        задеплоить своё решение на сервере (это задание будет необязательным).

В третьем спринте тебе нужно будет:

        покрыть код тестами (также необязательное задание);
        подготовить документацию.

Предстоит плотная работа. Сразу предупреждаю — при выполнении поставленных задач ты, скорее всего, столкнёшься с тем, чего не проходил на курсе. На работе всегда так: junior-программист 50-80% своего времени запросто может проводить в Google, читая Stack Overflow, документацию и стараясь освоить новую технологию, которая потребовалась для реализации проекта. Будь к этому готов.

Если хорошо справишься, получишь сертификат об успешном прохождении виртуальной стажировки.
Ну что ж, поехали!


<instructions>Stage 1</instructions>

Итак, ты приступаешь к первому спринту, на который у тебя будет одна неделя.

Тебе нужно создать базу данных, написать класс по работе с БД и реализовать всего один метод для Rest API — метод POST submitData.

Требования к Rest API

Метод POST submitData

Когда турист поднимется на перевал, он сфотографирует его и внесёт нужную информацию с помощью мобильного приложения:

        координаты объекта и его высоту;
        название объекта;
        несколько фотографий;
        информацию о пользователе, который передал данные о перевале:
                имя пользователя (ФИО строкой);
                почта;
                телефон.

После этого турист нажмёт кнопку «Отправить» в мобильном приложении. Мобильное приложение вызовет метод submitData твоего REST API.

Метод submitData принимает JSON в теле запроса с информацией о перевале. Ниже находится пример такого JSON-а:

{
  "beauty_title": "пер. ",
  "title": "Пхия",
  "other_titles": "Триев",
  "connect": "", // что соединяет, текстовое поле
 
  "add_time": "2021-09-22 13:18:13",
  "user": {"email": "qwerty@mail.ru", 		
        "fam": "Пупкин",
		 "name": "Василий",
		 "otc": "Иванович",
        "phone": "+7 555 55 55"}, 
 
   "coords":{
  "latitude": "45.3842",
  "longitude": "7.1525",
  "height": "1200"}
 
 
  level:{"winter": "", //Категория трудности. В разное время года перевал может иметь разную категорию трудности
  "summer": "1А",
  "autumn": "1А",
  "spring": ""},
 
   images: [{data:"<картинка1>", title:"Седловина"}, {data:"<картинка>", title:"Подъём"}]
}

Результат метода: JSON

            status — код HTTP, целое число:
                    500 — ошибка при выполнении операции;
                    400 — Bad Request (при нехватке полей);
                    200 — успех.
            message — строка:
                Причина ошибки (если она была);
                Отправлено успешно;
                Если отправка успешна, дополнительно возвращается id вставленной записи.
            id — идентификатор, который был присвоен объекту при добавлении в базу данных.

Примеры:

            { "status": 500, "message": "Ошибка подключения к базе данных","id": null}
            { "status": 200, "message": null, "id": 42 }

Чтобы тебе было проще, давай я помогу тебе разбить твой спринт на три задачи:

        Создание базы данных.
        Создание класса по работе с данными, с помощью которого ты будешь добавлять новые значения в таблицу перевалов.
        Написание REST API, который будет вызывать метод из класса по работе с данными

Задача 1. Создание базы данных

Для начала установи себе PostgreSQL.

Сейчас ФСТР использует вот такую структуру базы данных. Внимательно изучи её. Тебе нужно её немного доработать.

Что обязательно нужно добавить:

После того, как турист с помощью мобильного приложения и твоего REST API добавит в БД информацию о новом перевале, сотрудники ФСТР проведут модерацию для каждого нового объекта и поменяют поле status. Тебе нужно добавить это поле в таблицу перевалов, который будет хранить статус модерации.

Допустимые значения поля status:

        new;
        pending — если модератор взял в работу;
        accepted — модерация прошла успешно;
        rejected — модерация прошла, информация не принята.

Задание «со звёздочкой»

На мой взгляд структура БД у ФСТР не самая лучшая. Посмотри на неё внимательно еще пять минут и напиши в поле ниже всё, что тебе в ней не понравилось. Потрать на это не более десяти минут. После этого я сразу расскажу свою версию.
Задание «со звёздочкой»
0 points possible (ungraded)
Напиши свои замечания структуре базы данных:
нет ответа

Some problems have options such as save, reset, hints, or show answer. These options follow the Submit button.
Задача 2. Создание класса по работе с данными

С помощью этого класса твой код будет взаимодействовать с базой данных.

Для первого спринта тебе понадобится добавить в него методы, с помощью которых ты будешь пополнять информацию в таблицах базы данных. Именно эти методы будет вызывать код твоего REST API при вызове метода POST submitData.

При добавлении новой строки в таблицу с перевалами тебе нужно установить значение поля status равным new (я говорил о нём при постановке задачи по проектированию базы данных).

Ты получишь 5 дополнительных баллов при оценивании работы, если логин, пароль и путь к базе данных будешь получать из переменных окружения:

        FSTR_DB_HOST: путь к базе данных;
        FSTR_DB_PORT: порт базы данных;
        FSTR_DB_LOGIN: логин, с которым происходит подключение к БД;
        FSTR_DB_PASS: пароль, с которым происходит подключение к БД.

Задача 3. Создание REST API c одним методом — POST submitData

Тут без комментариев. Все требования к методу были описаны выше. У тебя есть база данных и класс по работе с ней. Просто иди и делай.

Напутствия

        Не забывай про code style — правильное именование переменных, отступы и прочее.

Потенциальные работодатели всегда обращают внимание на то, как оформлен код и насколько хорошо он читаем. В правильных ли местах ты ставишь пробелы? Понятно ли называешь переменные? Используешь ли правила оформления кода, которые приняты для твоего языка программирования? Если ты не помнишь их, перечитай. Google в помощь, junior-разработчик обязан уметь хорошо гуглить!

За хорошее качество кода ты можешь получить 5 дополнительных баллов.

        Также важно активно пользоваться Git-ом в процессе разработки. Не просто залить готовый код в Git-репозиторий после того, как ты уже всё сделал, а регулярно делать коммиты.

Если ты ещё не создал Git-репозиторий — сделай это прямо сейчас! Создай отдельную ветку под названием submitData и сделай Commit и Push со всем, что уже реализовал в рамках данного проекта.

Когда доделаешь метод submitData и проверишь его работоспособность — сливай ветку в master и сдавай ссылку на Git-репозиторий в качестве результата этого спринта.

За правильную работу с Git-ом ты также получишь 5 дополнительных баллов.

Итого критерии оценивания первого спринта следующие:

Обязательные задания:

        Создан класс/классы, с помощью которых можно добавить в БД новый перевал и всю информацию о нём:
                Да, выполнено отлично — 10 баллов.
                Да, но класс/классы имеют недочёты и/или требуют доработки — 5 баллов.
                Нет, условие не выполнено — 0 баллов.
        Реализован REST API:
                Да, отличная реализация — 15 баллов.
                Да, но в реализации REST API есть недочёты — 8 баллов.
                Нет, условие не выполнено — 0 баллов.

Дополнительные задания:

        Улучшена структура базы данных (список всех улучшений я описал выше) — 10 баллов.
        Правильная работа с Git-ом — 5 баллов:
                Для новой фичи создана отдельная ветка.
                Весь первый спринт можно реализовать в одной ветке или в двух разных.
                Каждый коммит имеет понятный комментарий.
                Коммиты делаются достаточно часто (а не только, когда фича сделана целиком).
                Ветка слита в master после того, как фича реализована.
        Хорошее качество кода (соблюдение code style) — 5 баллов.

FAQ

Предвосхищая твои вопросы, сразу отвечу на них =)

        Нужна ли авторизация пользователя?
        Нет, любой пользователь может использовать REST API.
        Нужно ли разрабатывать интерфейс пользователя?
        Нет, только REST API.
        Какую использовать БД?
        Лучше использовать PostgreSQL.
        Можно ли использовать фреймворки? Например, FastAPI?
        Да, можно и нужно.
        Нужен ли docker-файл?
        В этом вопросе действуй на свое усмотрение.

<instructions>Stage 2</instructions>

Сейчас с помощью твоего REST API туристы могут добавлять данные о новых перевалах в базу данных ФСТР.
Далее тебе понадобится реализовать новые возможности для пользователей:

        Редактировать отправленные на сервер данные об объекте, если они в статусе new.
        Редактировать можно все поля, кроме тех, что содержат в себе ФИО, адрес почты и номер телефона. Если поле status имеет значение, отличное от new, редактировать данные об объекте нельзя.
        Просматривать статус модерации для объекта.
        Просматривать все объекты, когда-либо отправленные на сервер самим пользователем, а также их статусы.

А ещё тебе нужно опубликовать своё решение в облаке (это задание будет дополнительным).
