Задача 1. Добавление новых методов для REST API

Добавь в свой REST API ещё три метода:

        GET /submitData/<id> — получить одну запись (перевал) по её id.
        Выведи всю информацию об объекте, в том числе статус модерации.
        PATCH /submitData/<id> — отредактировать существующую запись (замена), если она в статусе new.
        Редактировать можно все поля, кроме тех, что содержат в себе ФИО, адрес почты и номер телефона. Метод принимает тот же самый json, который принимал уже реализованный тобой метод submitData.

        В качестве результата верни два значения:
                state:
                        1 — если успешно удалось отредактировать запись в базе данных.
                        0 — в противном случае.
                message — если обновить запись не удалось, напиши почему.
        GET /submitData/?user__email=<email> — список данных обо всех объектах, которые пользователь с почтой <email> отправил на сервер.

Дополнительная задача «со звёздочкой». Публикация своего решения на хостинге

Это задание «со звёздочкой», так как на данном курсе вы ещё не проходили работу с хостингами.
За него стоит взяться, если у тебя осталось время и ты готов самостоятельно разобраться с новой темой.

 

Задеплой свой API на любом доступном тебе хостинге.
Удобнее всего это сделать с помощью сервиса Yandex Cloud, который предоставляет бесплатный приветственный грант.

Кстати, посмотри на критерии оценивания:

Обязательные задания:

        Создан класс по работе с БД — 10 баллов.
        Реализован REST API (Спринт 1) — 15 баллов.
        Реализован REST API (Спринт 2) — 15 баллов.
        Написана документация в Readme.md (Спринт 3) — 5 баллов.
        Хорошее качество кода (соблюдение code style) — 5 баллов.

Дополнительные задания:

        Путь к базе данных берётся из переменных окружения операционной системы: FSTR_DB_HOST, FSTR_DB_PORT, FSTR_LOGIN, FSTR_PASS (Спринт 1) — 5 баллов.
        Переработана структура базы данных (Спринт 1) — 10 баллов.
        REST API опубликован на хостинге (Спринт 2) — 10 баллов.
        Документация сделана с помощью Swagger (Спринт 3) — 5 баллов.
        Код покрыт тестами (Спринт 3) — 5 баллов.
        Правильная работа с Git-ом — 5 баллов:
                Для новой фичи создана отдельная ветка.
                Каждый коммит имеет понятный комментарий.
                Коммиты делаются достаточно часто (а не только, когда фича сделана целиком).
                Ветка слита в master после того, как фича реализована.

Проверь свой код, так как, возможно, на данном этапе тебе захочется что-то доработать.

В следующем спринте ты завершишь работу над своим REST API и отправишь всю работу на проверку ментору.

У меня для тебя ещё две задачи.

Обязательная задача

Добавить в Readme.md документацию к твоему REST API.

Ни один проект в твоём портфолио не должен содержать пустой файл Readme.md. Как работодатель поймёт, чтó ты реализовал без этого документа? Тебе нужно описать, в чём заключалась задача, что было реализовано и как работать с твоим API. Это задание принесёт тебе 5 баллов. Без Readme.md твоё портфолио будет неполным.

БЕЗ ДОКУМЕНТАЦИИ РЕШЕНИЕ НЕ ПРИНИМАЕТСЯ!

И ещё два задания «со звёздочкой», если у тебя останется время:

        Документация с помощью Swagger.

        Если ты разберёшься со Swagger и сгенерируешь документацию с его помощью, получишь 5 дополнительных баллов. Если ты успел разобраться с публикацией на хостинге, добавь, пожалуйста, примеры вызова твоего REST API с хостинга в файл Readme.md. Также тебе нужно добавить эти примеры в файл Read.me.

        Покрыть код тестами.

        Обязательно сделай это для методов класса, отвечающего за работу с БД. Затем для методов твоего REST API. С помощью одного теста ты можешь проверить работоспособность сразу нескольких методов. Например, добавить данные о новом объекте с помощью submitData, а затем с помощью /submitData/<id> получить данные о нём и проверить их корректность. За покрытие кода тестами ты получишь ещё 5 баллов.

Если не успеваешь покрыть код тестами, сдавай работу без них. Гораздо важнее уложиться в срок, нежели написать тесты.

Критерии оценивания

Обязательные задания:

        Создан класс по работе с БД:
                Да, выполнено отлично — 10 баллов.
                Да, но класс/классы имеют недочёты и/или требуют доработки — 5 баллов.
                Нет, условие не выполнено — 0 баллов.
        Реализован REST API (Спринт 1):
                Да, отличная реализация — 15 баллов.
                Да, но в реализации REST API есть недочёты — 8 баллов.
                Нет, условие не выполнено — 0 баллов.
        Реализован REST API (Спринт 2):
                Да, отличная реализация — 15 баллов.
                Да, но в реализации REST API есть недочёты — 8 баллов.
                Нет, условие не выполнено — 0 баллов.
        Написана документация в Readme.md (Спринт 3):
                Да, отличная реализация — 5 баллов.
                Документация имеется, но присутствуют недочёты — 3 балла.
                Нет, условие не выполнено — 0 баллов.
        Хорошее качество кода (соблюдение code style):
                Да, отличное качество кода — 5 баллов.
                Код хорошего качества, но имеются недочёты — 3 балла.
                Нет, условие не выполнено — 0 баллов.

Обращаю твоё внимание, что для успешного прохождения стажировки тебе нужно набрать минимум 40 баллов. Поэтому перед отправкой работы на проверку рекомендую просмотреть все критерии ещё раз и проверить, все ли пункты учтены.

Дополнительные задания:

        Путь к базе данных берётся из переменных окружения операционной системы: FSTR_DB_HOST, FSTR_DB_PORT, FSTR_LOGIN, FSTR_PASS (Спринт 1) — 5 баллов.
        Переработана структура базы данных (Спринт 1) — 10 баллов.
        REST API опубликован на хостинге (Спринт 2) — 10 баллов.
        Документация сделана с помощью Swagger (Спринт 3) — 5 баллов.
        Код покрыт тестами (Спринт 3) — 5 баллов.
        Правильная работа с Git-ом — 5 баллов:
                Для новой фичи создана отдельная ветка.
                Каждый коммит имеет понятный комментарий.
                Коммиты делаются достаточно часто (а не только, когда фича сделана целиком).
                Ветка слита в master после того, как фича реализована.

Без чего работа не принимается:

        Решение должно располагаться в Git, в публичном репозитории.
        В файле Readme.md должна находиться документация.

